* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --very-dark: #000000;
  --grayish-blue: #4D5562;
  --light-gray: #D9D9D9;
  --light-bluish-gray: #F8FAFC;
}


body {
  font-family: "Poppins", sans-Serif;
  min-height: 100vh;
  background: var(--light-bluish-gray);
  display: flex;
  flex-direction: column;
}


header {
  text-align: center;
  font-size: 1.125em;
  font-weight: 600;
  margin: 1.25em;
}


.seperator {
  margin-top: 2.5em;
}


.container {
  display: flex;
  flex-direction: column;
  margin: 0 1.25em;
}


.images {
  border-radius: 0.625em;
}


.container h2 {
  font-size: 1.2em;
  margin: 1.2em 0;
}


.date {
  font-size: 0.875em;
  display: block;
  margin-bottom: 3.31em;
}


/*-----------Tablet Styles-----------*/
@media (min-width: 40em) {
body {
  justify-content: center;
  align-items: center;
} 


header {
  font-size: 1.60em;
} 


.container {
  margin: 0 6em;
  
  max-width: 70rem;
}


.images {
  width: 12.5em;
  height: 12.5em;
  border-radius: 0.9375em;
  flex-shrink: 0;
}


article {
  display: flex;
  align-items: center;
  gap: 5em;
  margin-bottom: 5em;
}


article h2,
article .date {
  margin: auto 0;
  flex: 1;
}

 
article h2 {
  font-size: 1.53em;
}


article .date {
  font-size: 1.06em;
}

}
