@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --very-dark: #000000;
  --grayish-blue: #4D5562;
  --light-gray: #D9D9D9;
  --light-bluish-gray: #F8FAFC;
}


body {
  font-family: "Poppins", Sans-Serif;
  min-height: 100vh;
  background: var(--light-bluish-gray);
  display: flex;
  flex-direction: column;
}


header {
  text-align: center;
  font-size: 1.125em;
  font-weight: 600;
  margin: 1.25em;
}


.seperator {
  margin-top: 2.5em;
}


.container {
  display: flex;
  flex-direction: column;
}